body{
  background-color: goldenrod;
}
#location-container{
  background-color: cadetblue;
  border-radius: 5px;
  width: 50vw;
  align-items: center;
  display: flex;
  justify-content: center;
  /* left:50%;
  margin-right: -50%; */
  /* top:50%; */
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  margin: auto;
  padding: 60px;
}
header{
  position: relative;
  align-items: center;
  width: 100vw;

}
h1{
  text-align: center;
}
.btn-group{
  height: 30px;
  width: 80px;
 margin: 20px;
}
#btn-container{
 align-items: center;
 position: relative;
 bottom: 10px;
 
}

#inputCity {
  /* position: relative;
  top: 350px;
  left: 100px; */
  display: flex;
  justify-content: center;
  height: 40px;
  text-align: center;

  
  
}


.dayContainer {
  border-style: solid;
  display: flex;
}